<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.withdraw.dao">
	<sql id="columnsAs">
		t1.id as id, t1.numb as numb, t1.account_id as accountId, t1.amount as amount, t1.create_time as createTime, t1.complete_time as completeTime, t1.state as state
	</sql>
	
	<select id="selectWithdrawPage" resultType="com.roof.fpa.withdraw.entity.WithdrawVo">
		select
		<include refid="columnsAs"/>
		from
		c_withdraw t1
		join
		(SELECT
		id
		from
		c_withdraw
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectWithdrawCount" resultType="java.lang.Long">
		select
		count(id)
		from c_withdraw
		where 1=1
		<include refid="conds" />
	</select>
</mapper>