<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.accountdetail.dao">
	<sql id="columnsAs">
		t1.id as id, t1.account_id as accountId, t1.type as type, t1.amount as amount, t1.state as state, t1.create_time as createTime, t1.complete_time as completeTime, t1.before_amount as beforeAmount, t1.after_amount as afterAmount
	</sql>
	
	<select id="selectAccountDetailPage" resultType="com.roof.fpa.accountdetail.entity.AccountDetailVo">
		select
		<include refid="columnsAs"/>
		from
		c_account_detail t1
		join
		(SELECT
		id
		from
		c_account_detail
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectAccountDetailCount" resultType="java.lang.Long">
		select
		count(id)
		from c_account_detail
		where 1=1
		<include refid="conds" />
	</select>
</mapper>