# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#
.settings/
.idea/
*.project
*.selin.iml
*.classpath

.sass-cache/
app/app_
jetty-web.xml
target/
*.iml
overlays/
*jetty-web.xml