<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.advisory.consultant.dao">
	<sql id="columnsAs">
		t1.id as id, t1.app_id as appId, t1.name as name, t1.username as username, t1.head_image_url as headImageUrl, t1.level_id as levelId, t1.theme_id as themeId, t1.area_id as areaId, t1.gender as gender, t1.introduction as introduction, t1.user_id as userId, t1.mobile as mobile, t1.reg_time as regTime, t1.status as status, t1.state as state, t1.country as country, t1.province as province, t1.city as city,t1.grade as grade
	</sql>
	
	<select id="selectConsultantPage" resultType="com.roof.advisory.consultant.entity.ConsultantVo">
		select
		<include refid="columnsAs"/>,
		(SELECT level_name FROM z_level WHERE id = t1.level_id ) as levelName,
		(SELECT NAME FROM z_advisory_theme WHERE id = t1.theme_id ) as themeName,
		(SELECT NAME FROM z_application WHERE id = t1.app_id ) as appName
		from
		z_consultant t1
		join
		(SELECT
		id
		from
		z_consultant
		where 1=1
		<include refid="conds" />
		and state = '1'
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectConsultantCount" resultType="java.lang.Long">
		select
		count(id)
		from z_consultant
		where 1=1
		<include refid="conds" />
		and state = '1'
	</select>

	<select id="selectConsultantWechatPage" resultType="com.roof.advisory.consultant.entity.ConsultantWechatVo">
		select
		<include refid="columnsAs"/>,
		(SELECT level_name FROM z_level WHERE id = t1.level_id ) as levelName,
		(1) as isOnline,
		(1) as canOrder,
		(1000) as times,
		(SELECT NAME FROM z_advisory_theme WHERE id = t1.theme_id ) as themeName,
		(SELECT NAME FROM z_application WHERE id = t1.app_id ) as appName
		from
		z_consultant t1
		join
		(SELECT
		id
		from
		z_consultant
		where 1=1
		<include refid="conds" />
		and state = '1'
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>

	<select id="selectConsultantWechatCount" resultType="java.lang.Long">
		select
		count(id)
		from z_consultant
		where 1=1
		<include refid="conds" />
		and state = '1'
	</select>

	<select id="selectForListByUsernames" resultType="java.lang.Long">
		select
		id
		from z_consultant
		where 1=1
		username in(
		<foreach collection="usernames" item="item" index="index"
				 separator=",">
			#{item}
		</foreach>
		)
	</select>
</mapper>