<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.charactercolor.dao">

    <sql id="columns">
		id, numb, name, color_id, color_code, description, color2_id, color2_code, state
	</sql>

    <sql id="columns_as">
		id as id , numb as numb , name as name , color_id as colorId , color_code as colorCode , description as description , color2_id as color2Id , color2_code as color2Code , state as state 
	</sql>


    <sql id="vals">
		#{id}, #{numb}, #{name}, #{colorId}, #{colorCode}, #{description}, #{color2Id}, #{color2Code}, #{state}
	</sql>
    <sql id="conds">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="numb != null and numb != ''">
            and numb = #{numb}
        </if>
        <if test="name != null and name != ''">
            and name like CONCAT('%', #{name}, '%')
        </if>
        <if test="colorId != null">
            and color_id = #{colorId}
        </if>
        <if test="colorCode != null and colorCode != ''">
            and color_code = #{colorCode}
        </if>
        <if test="description != null and description != ''">
            and description = #{description}
        </if>
        <if test="color2Id != null">
            and color2_id = #{color2Id}
        </if>
        <if test="color2Code != null and color2Code != ''">
            and color2_code = #{color2Code}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
    </sql>

    <insert id="saveCharacterColor" parameterType="com.roof.fpa.charactercolor.entity.CharacterColor"
            useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into c_character_color (<include refid="columns"/>)
        values (<include refid="vals"/>)
    </insert>

    <delete id="deleteCharacterColor">
		delete from c_character_color
		where id=#{id} 
	</delete>

    <delete id="deleteByExampleCharacterColor">
        delete from c_character_color
        where 1=1
        <include refid="conds"/>
    </delete>

    <update id="updateCharacterColor">
        update c_character_color
        <set>
            id=#{id},
            numb=#{numb},
            name=#{name},
            color_id=#{colorId},
            color_code=#{colorCode},
            description=#{description},
            color2_id=#{color2Id},
            color2_code=#{color2Code},
            state=#{state}
        </set>
        where id=#{id}
    </update>

    <update id="updateIgnoreNullCharacterColor">
        update c_character_color
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="numb != null and numb != ''">
                numb=#{numb},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="colorId != null">
                color_id=#{colorId},
            </if>
            <if test="colorCode != null and colorCode != ''">
                color_code=#{colorCode},
            </if>
            <if test="description != null and description != ''">
                description=#{description},
            </if>
            <if test="color2Id != null">
                color2_id=#{color2Id},
            </if>
            <if test="color2Code != null and color2Code != ''">
                color2_code=#{color2Code},
            </if>
            <if test="state != null">
                state=#{state}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateByExampleCharacterColor">
        update c_character_color
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="numb != null and numb != ''">
                numb=#{numb},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="colorId != null">
                color_id=#{colorId},
            </if>
            <if test="colorCode != null and colorCode != ''">
                color_code=#{colorCode},
            </if>
            <if test="description != null and description != ''">
                description=#{description},
            </if>
            <if test="color2Id != null">
                color2_id=#{color2Id},
            </if>
            <if test="color2Code != null and color2Code != ''">
                color2_code=#{color2Code},
            </if>
            <if test="state != null">
                state=#{state}
            </if>
        </set>
        where 1=1
        <include refid="conds"/>
    </update>

    <select id="loadCharacterColor" resultType="com.roof.fpa.charactercolor.entity.CharacterColorVo">
        select
        <include refid="columns_as"/>
        from c_character_color
        where id=#{id}
    </select>

    <select id="selectCharacterColor" resultType="com.roof.fpa.charactercolor.entity.CharacterColorVo">
        select
        <include refid="columns_as"/>
        from c_character_color
        where 1=1
        <include refid="conds"/>
    </select>
</mapper>