<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.charactercolor.dao">
    <sql id="columnsAs">
		t1.id as id, t1.numb as numb, t1.name as name, t1.color_id as colorId, t1.color_code as colorCode, t1.description as description,
		t1.color2_id as color2Id, t1.color2_code as color2Code, t1.state as state
	</sql>

    <select id="selectCharacterColorPage" resultType="com.roof.fpa.charactercolor.entity.CharacterColorVo">
        select
        <include refid="columnsAs"/>
        from
        c_character_color t1
        join
        (SELECT
        id
        from
        c_character_color
        where 1=1
        <include refid="conds"/>
        order by id desc
        limit #{firstrownum}, #{limit}) t2
        where t1.id = t2.id
    </select>

    <select id="selectCharacterColorCount" resultType="java.lang.Long">
        select
        count(id)
        from c_character_color
        where 1=1
        <include refid="conds"/>
    </select>
</mapper>