<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.scene.dao">

	<sql id="columns">
		id, name, numb, card_group_id, repeat_count, version, theme_id, state, template_id, weight_operator,description
	</sql>

	<sql id="columns_as">
		id as id , name as name , numb as numb , card_group_id as cardGroupId , repeat_count as repeatCount , version as version , theme_id as themeId , state as state , template_id as templateId , weight_operator as weightOperator,description as description
	</sql>


	<sql id="vals">
		#{id}, #{name}, #{numb}, #{cardGroupId}, #{repeatCount}, #{version}, #{themeId}, #{state}, #{templateId}, #{weightOperator},#{description}
	</sql>
	<sql id="conds">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="numb != null and numb != ''">
			and numb = #{numb}
		</if>
		<if test="cardGroupId != null">
			and card_group_id = #{cardGroupId}
		</if>
		<if test="repeatCount != null">
			and repeat_count = #{repeatCount}
		</if>
		<if test="version != null and version != ''">
			and version = #{version}
		</if>
		<if test="themeId != null">
			and theme_id = #{themeId}
		</if>
		<if test="state != null">
			and state = #{state}
		</if>
		<if test="templateId != null">
			and template_id = #{templateId}
		</if>
		<if test="weightOperator != null and weightOperator != ''">
			and weight_operator = #{weightOperator}
		</if>
		<if test="description != null and description != ''">
			and description = #{description}
		</if>

	</sql>

	<insert id="saveScene" parameterType="com.roof.fpa.scene.entity.Scene" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into c_scene (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteScene">
		delete from c_scene
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleScene">
		delete from c_scene
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateScene">
		update c_scene
		<set>
			id=#{id}, 
			name=#{name}, 
			numb=#{numb}, 
			card_group_id=#{cardGroupId}, 
			repeat_count=#{repeatCount}, 
			version=#{version}, 
			theme_id=#{themeId}, 
			state=#{state},
			weight_operator=#{weightOperator},
			template_id=#{templateId},
			description = #{description}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullScene">
		update c_scene
		<set>
		<if test="id != null">
			id=#{id}, 
		</if>
		<if test="name != null and name != ''">
			name=#{name}, 
		</if>
		<if test="numb != null and numb != ''">
			numb=#{numb}, 
		</if>
		<if test="cardGroupId != null">
			card_group_id=#{cardGroupId}, 
		</if>
		<if test="repeatCount != null">
			repeat_count=#{repeatCount}, 
		</if>
		<if test="version != null and version != ''">
			version=#{version}, 
		</if>
		<if test="themeId != null">
			theme_id=#{themeId}, 
		</if>
		<if test="state != null">
			state=#{state},
		</if>
		<if test="templateId != null">
			template_id = #{templateId},
		</if>
		<if test="weightOperator != null and weightOperator != ''">
			weight_operator = #{weightOperator},
		</if>
		<if test="description != null and description != ''">
			description = #{description}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleScene">
		update c_scene
		<set>
			<if test="id != null">
			id=#{id}, 
			</if>
			<if test="name != null and name != ''">
			name=#{name}, 
			</if>
			<if test="numb != null and numb != ''">
			numb=#{numb}, 
			</if>
			<if test="cardGroupId != null">
			card_group_id=#{cardGroupId}, 
			</if>
			<if test="repeatCount != null">
			repeat_count=#{repeatCount}, 
			</if>
			<if test="version != null and version != ''">
			version=#{version}, 
			</if>
			<if test="themeId != null">
			theme_id=#{themeId}, 
			</if>
			<if test="state != null">
			state=#{state},
			</if>
			<if test="templateId != null">
				template_id = #{templateId},
			</if>
			<if test="weightOperator != null and weightOperator != ''">
				weight_operator = #{weightOperator},
			</if>
			<if test="description != null and description != ''">
				description = #{description}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadScene" resultType="com.roof.fpa.scene.entity.SceneVo">
		select 
		<include refid="columns_as"/>
		from c_scene
		where id=#{id} 
	</select>
	
	<select id="selectScene" resultType="com.roof.fpa.scene.entity.SceneVo">
		select 
		<include refid="columns_as"/>
		from c_scene
		where 1=1
		<include refid="conds" />
	</select>
</mapper>