<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.advisory.commentrecord.dao">
	<sql id="columnsAs">
		t1.app_id as appId, t1.item_id as itemId, t1.consultant_id as consultantId,
		t1.eval_result as evalResult, t1.order_number as orderNumber, t1.evaluator as evaluator,
		t1.eval_time as evalTime, t1.status as status, t1.state as state, t1.id as id
	</sql>
	
	<select id="selectCommentRecordPage" resultType="com.roof.advisory.commentrecord.entity.CommentRecordVo">
		select
		(SELECT NAME FROM z_application WHERE id = t1.app_id ) as appName,
		(SELECT NAME FROM z_comment_items WHERE id = t1.item_id ) as itemName,
		(SELECT NAME FROM z_consultant WHERE id = t1.consultant_id ) as consultantName,
		<include refid="columnsAs"/>
		from
		z_comment_record t1
		join
		(SELECT
		id
		from
		z_comment_record
		where 1=1
		<include refid="conds" />
		and state = '1'
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCommentRecordCount" resultType="java.lang.Long">
		select
		count(id)
		from z_comment_record
		where 1=1
		<include refid="conds" />
		and state = '1'
	</select>

	<select id="selectCommentRecordVoPage" resultType="com.roof.advisory.commentrecord.entity.CommentRecordVo">
		select
		(SELECT NAME FROM z_application WHERE id = t1.app_id ) as appName,
		(SELECT NAME FROM z_comment_items WHERE id = t1.item_id ) as itemName,
		(SELECT NAME FROM z_consultant WHERE id = t1.consultant_id ) as consultantName,

		<include refid="columnsAs"/>
		from
		z_comment_record t1
		join
		(SELECT
		id
		from
		z_comment_record
		where 1=1
		<include refid="conds" />
		<if test="evalTimeStart != null and evalTimeEnd != null">
			and eval_time BETWEEN #{evalTimeStart} and #{evalTimeEnd}
		</if>
		and state = '1'
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>

	<select id="selectCommentRecordVoCount" resultType="java.lang.Long">
		select
		count(id)
		from z_comment_record
		where 1=1
		<include refid="conds" />
		<if test="evalTimeStart != null and evalTimeEnd != null">
			and eval_time BETWEEN #{evalTimeStart} and #{evalTimeEnd}
		</if>
		and state = '1'
	</select>
</mapper>