<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.customer.dao">
	<sql id="columnsAs">
		t1.id as id, t1.weixin_open_id as weixinOpenId, t1.weixin_head_image as weixinHeadImage,
		t1.nick_name as nickName, t1.name as name, t1.mobile as mobile, t1.gender as gender,
		t1.area as area, t1.follow_time as followTime, t1.country as country, t1.province as province,
		t1.city as city, t1.language as language ,t1.useable as useable,unionid as unionid
	</sql>
	
	<select id="selectCustomerPage" resultType="com.roof.fpa.customer.entity.CustomerVo">
		select
		<include refid="columnsAs"/>
		from
		c_customer t1
		join
		(SELECT
		id
		from
		c_customer
		where 1=1
		and useable = 1
		<include refid="conds" />
		<if test="followTimeStart != null and followTimeEnd !=null">
			<![CDATA[
			and follow_time >= #{followTimeStart} and follow_time <= #{followTimeEnd}
			]]>
		</if>
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCustomerCount" resultType="java.lang.Long">
		select
		count(id)
		from c_customer
		where 1=1
		and useable = 1
		<include refid="conds" />
		<if test="followTimeStart != null and followTimeEnd !=null">
			<![CDATA[
			and follow_time >= #{followTimeStart} and follow_time <= #{followTimeEnd}
			]]>
		</if>
	</select>

	<select id="loadCustomerByOpenId" resultType="com.roof.fpa.customer.entity.CustomerVo">
		select
		<include refid="columns_as"/>
		from c_customer
		where weixin_open_id=#{weixinOpenId}
	</select>


	<select id="selectCustomerFriendsPage" resultType="com.roof.fpa.customer.entity.CustomerVo">
		SELECT
		<include refid="columnsAs"/>
		FROM
		(SELECT
		share_customer_id AS customer_id
		FROM
		c_card_test_result
		WHERE customer_id = #{id}
		AND share_customer_id IS NOT NULL
		AND share_customer_id != #{id}
		UNION
		SELECT
		customer_id
		FROM
		c_card_test_result
		WHERE share_customer_id =  #{id}
		AND customer_id !=  #{id} limit #{firstrownum}, #{limit} ) f
		LEFT JOIN c_customer t1
		ON f.customer_id = t1.id
	</select>

	<select id="selectCustomerFriendsCount" resultType="java.lang.Long">
		SELECT
		COUNT(*)
		FROM
		(SELECT
		share_customer_id AS customer_id
		FROM
		c_card_test_result
		WHERE customer_id = #{id}
		AND share_customer_id IS NOT NULL
		AND share_customer_id != #{id}
		UNION
		SELECT
		customer_id
		FROM
		c_card_test_result
		WHERE share_customer_id = #{id}
		AND customer_id != #{id}) f
	</select>

	<select id="loadCustomerByUnionid" resultType="com.roof.fpa.customer.entity.CustomerVo">
		select
		<include refid="columns_as"/>
		from c_customer
		where unionid=#{unionid}
	</select>

</mapper>