<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.customer.dao">

	<sql id="columns">
		id, weixin_open_id, weixin_head_image, nick_name, name, mobile, gender, area, follow_time, country, province, city, language,useable,unionid,user_id
	</sql>

	<sql id="columns_as">
		id as id , weixin_open_id as weixinOpenId , weixin_head_image as weixinHeadImage , nick_name as nickName , name as name , mobile as mobile , gender as gender , area as area , follow_time as followTime , country as country , province as province , city as city , language as language ,useable as useable,unionid as unionid,user_id as userId
	</sql>


	<sql id="vals">
		#{id}, #{weixinOpenId}, #{weixinHeadImage}, #{nickName}, #{name}, #{mobile}, #{gender}, #{area}, #{followTime}, #{country}, #{province}, #{city}, #{language},#{useable},#{unionid},#{userId}
	</sql>
	<sql id="conds">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="weixinOpenId != null and weixinOpenId != ''">
			and weixin_open_id = #{weixinOpenId}
		</if>
		<if test="weixinHeadImage != null and weixinHeadImage != ''">
			and weixin_head_image = #{weixinHeadImage}
		</if>
		<if test="nickName != null and nickName != ''">
			and nick_name = #{nickName}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="mobile != null and mobile != ''">
			and mobile = #{mobile}
		</if>
		<if test="gender != null">
			and gender = #{gender}
		</if>
		<if test="useable != null">
			and useable = #{useable}
		</if>
		<if test="area != null and area != ''">
			and area = #{area}
		</if>
		<if test="followTime != null">
			and follow_time = #{followTime}
		</if>
		<if test="country != null and country != ''">
			and country = #{country}
		</if>
		<if test="province != null and province != ''">
			and province = #{province}
		</if>
		<if test="city != null and city != ''">
			and city = #{city}
		</if>
		<if test="language != null and language != ''">
			and language = #{language}
		</if>
		<if test="unionid != null and unionid != ''">
			and unionid = #{unionid}
		</if>
		<if test="userId != null ">
			and user_id = #{userId}
		</if>

	</sql>

	<insert id="saveCustomer" parameterType="com.roof.fpa.customer.entity.Customer" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into c_customer (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteCustomer">
		delete from c_customer
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleCustomer">
		delete from c_customer
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateCustomer">
		update c_customer
		<set>
			id=#{id}, 
			weixin_open_id=#{weixinOpenId}, 
			weixin_head_image=#{weixinHeadImage}, 
			nick_name=#{nickName}, 
			name=#{name}, 
			mobile=#{mobile}, 
			gender=#{gender},
			useable=#{useable},
			area=#{area},
			follow_time=#{followTime}, 
			country=#{country}, 
			province=#{province}, 
			city=#{city}, 
			language=#{language},
			unionid = #{unionid},
			user_id = #{userId}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullCustomer">
		update c_customer
		<set>
		<if test="id != null">
			id=#{id}, 
		</if>
		<if test="weixinOpenId != null and weixinOpenId != ''">
			weixin_open_id=#{weixinOpenId}, 
		</if>
		<if test="weixinHeadImage != null and weixinHeadImage != ''">
			weixin_head_image=#{weixinHeadImage}, 
		</if>
		<if test="nickName != null and nickName != ''">
			nick_name=#{nickName}, 
		</if>
		<if test="name != null and name != ''">
			name=#{name}, 
		</if>
		<if test="mobile != null and mobile != ''">
			mobile=#{mobile}, 
		</if>
		<if test="gender != null">
			gender=#{gender}, 
		</if>
		<if test="useable != null">
			useable=#{useable},
		</if>
		<if test="area != null and area != ''">
			area=#{area}, 
		</if>
		<if test="followTime != null">
			follow_time=#{followTime}, 
		</if>
		<if test="country != null and country != ''">
			country=#{country}, 
		</if>
		<if test="province != null and province != ''">
			province=#{province}, 
		</if>
		<if test="city != null and city != ''">
			city=#{city}, 
		</if>
		<if test="language != null and language != ''">
			language=#{language},
		</if>
		<if test="unionid != null and unionid != ''">
			unionid = #{unionid},
		</if>
		<if test="userId != null ">
			user_id = #{userId}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleCustomer">
		update c_customer
		<set>
			<if test="id != null">
			id=#{id}, 
			</if>
			<if test="weixinOpenId != null and weixinOpenId != ''">
			weixin_open_id=#{weixinOpenId}, 
			</if>
			<if test="weixinHeadImage != null and weixinHeadImage != ''">
			weixin_head_image=#{weixinHeadImage}, 
			</if>
			<if test="nickName != null and nickName != ''">
			nick_name=#{nickName}, 
			</if>
			<if test="name != null and name != ''">
			name=#{name}, 
			</if>
			<if test="mobile != null and mobile != ''">
			mobile=#{mobile}, 
			</if>
			<if test="gender != null">
			gender=#{gender}, 
			</if>
			<if test="useable != null">
				useable=#{useable},
			</if>
			<if test="area != null and area != ''">
			area=#{area}, 
			</if>
			<if test="followTime != null">
			follow_time=#{followTime}, 
			</if>
			<if test="country != null and country != ''">
			country=#{country}, 
			</if>
			<if test="province != null and province != ''">
			province=#{province}, 
			</if>
			<if test="city != null and city != ''">
			city=#{city}, 
			</if>
			<if test="language != null and language != ''">
			language=#{language},
			</if>
			<if test="unionid != null and unionid != ''">
				unionid = #{unionid},
			</if>
			<if test="userId != null ">
				user_id = #{userId}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadCustomer" resultType="com.roof.fpa.customer.entity.CustomerVo">
		select 
		<include refid="columns_as"/>
		from c_customer
		where id=#{id} 
	</select>
	
	<select id="selectCustomer" resultType="com.roof.fpa.customer.entity.CustomerVo">
		select 
		<include refid="columns_as"/>
		from c_customer
		where 1=1
		and useable = 1
		<include refid="conds" />
		and user_id is NULL
	</select>
</mapper>