<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.cardslot.dao">

	<sql id="columns">
		id, numb, weight, x_val, y_val, x_offset, y_offset, description, scene_id
	</sql>

	<sql id="columns_as">
		id as id , numb as numb , weight as weight , x_val as xVal , y_val as yVal , x_offset as xOffset , y_offset as yOffset , description as description , scene_id as sceneId 
	</sql>


	<sql id="vals">
		#{id}, #{numb}, #{weight}, #{xVal}, #{yVal}, #{xOffset}, #{yOffset}, #{description}, #{sceneId}
	</sql>
	<sql id="conds">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="numb != null">
			and numb = #{numb}
		</if>
		<if test="weight != null">
			and weight = #{weight}
		</if>
		<if test="xVal != null">
			and x_val = #{xVal}
		</if>
		<if test="yVal != null">
			and y_val = #{yVal}
		</if>
		<if test="xOffset != null">
			and x_offset = #{xOffset}
		</if>
		<if test="yOffset != null">
			and y_offset = #{yOffset}
		</if>
		<if test="description != null and description != ''">
			and description = #{description}
		</if>
		<if test="sceneId != null">
			and scene_id = #{sceneId}
		</if>
	</sql>

	<insert id="saveCardSlot" parameterType="com.roof.fpa.cardslot.entity.CardSlot" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into c_card_slot (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteCardSlot">
		delete from c_card_slot
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleCardSlot">
		delete from c_card_slot
		where 1=1
		<include refid="conds" />
	</delete>

	<update id="updateCardSlot">
		update c_card_slot
		<set>
			id=#{id}, 
			numb=#{numb}, 
			weight=#{weight}, 
			x_val=#{xVal}, 
			y_val=#{yVal}, 
			x_offset=#{xOffset}, 
			y_offset=#{yOffset}, 
			description=#{description}, 
			scene_id=#{sceneId}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullCardSlot">
		update c_card_slot
		<set>
		<if test="id != null">
			id=#{id}, 
		</if>
		<if test="numb != null">
			numb=#{numb}, 
		</if>
		<if test="weight != null">
			weight=#{weight}, 
		</if>
		<if test="xVal != null">
			x_val=#{xVal}, 
		</if>
		<if test="yVal != null">
			y_val=#{yVal}, 
		</if>
		<if test="xOffset != null">
			x_offset=#{xOffset}, 
		</if>
		<if test="yOffset != null">
			y_offset=#{yOffset}, 
		</if>
		<if test="description != null and description != ''">
			description=#{description}, 
		</if>
		<if test="sceneId != null">
			scene_id=#{sceneId}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleCardSlot">
		update c_card_slot
		<set>
			<if test="id != null">
			id=#{id}, 
			</if>
			<if test="numb != null">
			numb=#{numb}, 
			</if>
			<if test="weight != null">
			weight=#{weight}, 
			</if>
			<if test="xVal != null and xVal != ''">
			x_val=#{xVal}, 
			</if>
			<if test="yVal != null and yVal != ''">
			y_val=#{yVal}, 
			</if>
			<if test="xOffset != null and xOffset != ''">
			x_offset=#{xOffset}, 
			</if>
			<if test="yOffset != null and yOffset != ''">
			y_offset=#{yOffset}, 
			</if>
			<if test="description != null and description != ''">
			description=#{description}, 
			</if>
			<if test="sceneId != null">
			scene_id=#{sceneId}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>
	
	<select id="loadCardSlot" resultType="com.roof.fpa.cardslot.entity.CardSlotVo">
		select 
		<include refid="columns_as"/>
		from c_card_slot
		where id=#{id} 
	</select>
	
	<select id="selectCardSlot" resultType="com.roof.fpa.cardslot.entity.CardSlotVo">
		select 
		<include refid="columns_as"/>
		from c_card_slot
		where 1=1
		<include refid="conds" />
	</select>
</mapper>