<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.cardunit.dao">
	<sql id="columnsAs">
		t1.id as id, t1.color_code as colorCode, t1.card_id as cardId, t1.name as name, t1.color_id as colorId, t1.image_big as imageBig, t1.image_mid as imageMid, t1.image_small as imageSmall, t1.score as score, t1.description as description, t1.unit_type as unitType
	</sql>
	
	<select id="selectCardUnitPage" resultType="com.roof.fpa.cardunit.entity.CardUnitVo">
		select
		<include refid="columnsAs"/>
		from
		c_card_unit t1
		join
		(SELECT
		id
		from
		c_card_unit
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectCardUnitCount" resultType="java.lang.Long">
		select
		count(id)
		from c_card_unit
		where 1=1
		<include refid="conds" />
	</select>
</mapper>