<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roof.fpa.transmittemplate.dao">
	<sql id="columnsAs">
		t1.id as id, t1.code as code, t1.name as name, t1.title as title, t1.path as path, t1.imageurl as imageurl, t1.state as state ,t1.useable as useable
	</sql>
	
	<select id="selectTransmitTemplatePage" resultType="com.roof.fpa.transmittemplate.entity.TransmitTemplateVo">
		select
		<include refid="columnsAs"/>
		from
		c_transmit_template t1
		join
		(SELECT
		id
		from
		c_transmit_template
		where 1=1
		and useable = 1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}) t2
		where t1.id = t2.id
	</select>
	
	<select id="selectTransmitTemplateCount" resultType="java.lang.Long">
		select
		count(id)
		from c_transmit_template
		where 1=1
		and useable =1
		<include refid="conds" />
	</select>
</mapper>